.fixed {
    top: 0%;
    left: 0%;
    height: 100px;
    width: 100px;
    position: fixed;
    background-color: red;
}

body {
    margin-left: 200px;
    margin-right: 200px;
    height: 150vh;
}

.outside {
    top: 40px;
    position: relative;
    height: 400px;
    background-color: gray;
    
}

.inside {
    position: absolute;
    height: 100px;
    width: 200px;
    top: 50%;
    left: 50%;
    background-color: yellow;
    transform: translate(-50%, -50%);

}

.subtag {
    margin-top: 60px;
    


}